<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 [translate]="'LOGINPAGE.TITLE'">Login</h1>
    <div class="well">
      <form role="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div [hidden]="!error" class="alert alert-danger">{{ error }}</div>

        <div class="form-group">
          <label for="login__email" [translate]="'LOGINPAGE.FORM.EMAIL'">Email</label>
          <input type="email" class="form-control login-page_input-email" id="login__email"
                 [(ngModel)]="user.email"
                 placeholder="{{'PLACEHOLDER.EMAIL' | translate}}"
                 maxlength="40"
                 name="email"
                 required/>
        </div>

        <div class="form-group">
          <label for="login__password" [translate]="'LOGINPAGE.FORM.PASSWORD'">Password</label>
          <input type="password" class="form-control" id="login__password"
                 [(ngModel)]="user.password"
                 name="password" required/>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">
            <span [translate]="'BUTTON.SUBMIT'">Submit</span>
          </button>
          <button type="button" class="btn btn-danger float-right"
                  (click)="goToRemindPasswordPage()">
            <span [translate]="'BUTTON.FORGOTPASSWORD'">Forgot password?</span>
          </button>
        </div>
        <div class="clear-float"></div>
      </form>
    </div>
  </div>
</div>
