<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 [translate]="'REMINDPASSPAGE.TITLE'">Reset password</h2>
    <div class="well">
      <p [translate]="'REMINDPASSPAGE.DESCRIPTION'">New password will be sent to your email.</p>
      <form role="form" (ngSubmit)="onSubmit()" #remindForm="ngForm">
        <div [hidden]="sent" class="alert alert-info" [translate]="'REMINDPASSPAGE.SENDING'">Sending...</div>
        <div [hidden]="!error" class="alert alert-danger">{{ error }}</div>
        <div [hidden]="!success" class="alert alert-success" [translate]="'REMINDPASSPAGE.SUCCESS'">New password was sent to you email</div>
        <div class="form-group">
          <label for="login__username" [translate]="'REMINDPASSPAGE.FORM.USERNAME'">Username</label>
          <input type="username" class="form-control" id="login__username"
                 [(ngModel)]="username"
                 placeholder="{{'PLACEHOLDER.USERNAME' | translate}}"
                 maxlength="40"
                 name="username"
                 required/>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!remindForm.form.valid">
            <span [translate]="'BUTTON.RESET'">Reset</span>
          </button>
          <button type="button" class="btn btn-primary" (click)="goBack()">
            <span [translate]="'BUTTON.BACK'">Back</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
